@import "./sass/vendors/bootstrap.scss";

@import "./sass/abstracts/mixins";
@import "./sass/abstracts/variables";
@import "./sass/abstracts/helpers";

@import "./sass/base/base";
@import "./sass/base/typography";

@import "./sass/components/buttons";

@import "./sass/layout/footer";
@import "./sass/layout/sections";

@import "./sass/sections/about";
@import "./sass/sections/contact";
@import "./sass/sections/hero";
@import "./sass/sections/projects";

.section-colored {
  background-color: $primary-color;
  color: $white-color;
}

.actividad-page {
  padding: 5rem 0rem;
}

.fixed-img {
  height: 100% !important;
  width: 100% !important;
  object-fit: cover;
  object-position: center;
}

.about-wrapper__image {
  height: 200px;
  width: 100% !important;
}

.team-member {
  display: grid;
  align-items: center;
  max-width: 200px;

  min-height: 300px;
  max-height: 300px;
}

.project-wrapper__image {
  height: 400px;
  width: 500px;
}

.project-element {
  margin-bottom: 20rem;
}

.cuento-wrapper__image {
  max-height: auto;
  max-width: 800px;
}

p {
  text-align: justify;
}

@media (max-width: 700px) {
  .levantamiento-flex {
    flex-wrap: wrap;
  }
}
